:root {
    --base-font-color: #333;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

main {
    margin: 30px;
    background-color: #ffffff;
}

h1 {
    flex: 1;
    font-size: 2em;
    text-align: center;
    margin: 5px 0px 20px 0px;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    color: rgb(0, 0, 0);
}

a {
    color: #2a2a2a;
    text-decoration: underline;
}

a:hover {
    color: #6f6f6f;
}



.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #000000; 
overflow: hidden;
margin: 0;
padding: 10px 20px;
border-bottom: 1px solid #2a2a2a;
position: sticky;
top: 0;
font-size: 1.5 rem;
z-index: 10;
}

.logo {
width: 250px;
margin-right: auto;
}

.nav-links {
list-style: none; 
margin: 0;
padding: 0;
}

.nav-links li {
display: inline-block;
margin-right: 15px;
}

.nav-links a {
text-decoration: none;
color: #ffffff;
position: relative;
font-size: 1.2rem;
}

.nav-links a:after {
content: "";
position: absolute;
width: 100%;
height: 1px;
background-color: #ffffff;
bottom: -2px;
transform: scaleX(0);
transform-origin: center;
transition: transform 0.15s ease-in-out;
left: 0;
}

.nav-links a:hover:after {
transform: scaleX(1);
}

.btn {
display: inline-block;
padding: 5px 12px;
border: 2px solid rgb(0, 0, 0);
border-radius: 50px;
background-color: #ffffff00;
color: #000000;
text-decoration: none;
font-weight: bold;
font-size: 1.2rem;

transition: background-color 0.15s ease-in-out;
}

.btn:hover {
background-color: #000000;
color: #fff
}

.inv-btn {
display: inline-block;
padding: 5px 12px;
border: 2px solid rgb(255, 255, 255);
border-radius: 50px;
background-color: #ffffff00;
color: #ffffff;
text-decoration: none;
font-weight: bold;
font-size: 1.2rem;

transition: background-color 0.15s ease-in-out;
}

.inv-btn:hover {
background-color: #ffffff; /* Button hover color (darker blue) */
color: #000000
}


#logo-link {
margin-right: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; 
    overflow: hidden;
    margin: 0;
    padding: 30px 20px;
    border-top: 1px solid #2a2a2a;
    position: sticky;
    top: 0;
    font-size: 1.5 rem;
}


p {
    color: #000000;
    padding-left: 2rem;
}

.faq-container {
    padding: 1rem;
    border-radius: 5px;
}

summary {
    color: #000000;
    cursor: pointer;
    border: 2px solid #5e5e5e;
    padding: 0.5rem;
    user-select: none;
}

details {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    transition: height 0.15s ease-in-out;
    height: 20px;
}

details[open] {
    height: 80px;
}